.about, .skills{
  margin:20px;
}
.projects{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
.projects img{
  width: 30%;
  border-radius: 10px;
}
@media (max-width: 768px){
  .projects img{
    width:45%;
  }
}
@media (max-width: 480px){
  .projects img{
    width:100%;
  }
}
/*FOOTER*/
.footer {
    text-align: center;
    padding: 20px;

    background: linear-gradient(to right, #f7c0ca, #d95f76);

    color: white;
    margin-top: 40px;
}
/*INDEX PAGE*/
/*BODY*/
body {
  background-color: #fdcaca;
  color: white;
}

/* NAV LINKS */
.nav-bar {
  margin: 0 15px;
  text-decoration: none;
  color: #ccc;
  font-size: 14px;
  transition: 0.3s;
}
.nav-bar: hover{
  color:#d95f76;
}
.nav-bar{
  font-family:'San Fransisco', sans-serif;
  font-size: 30px;
  color:#d95f76;
}
.nav-bar {
  display: flex;
  gap: 40px; 
}

/* CONTACT BUTTON */
.contact-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(45deg, #f1b6fd, #d95f76);
  color: white;
  cursor: pointer;
  font-size:30px;
  font-weight: bold;
}
 
.main-title{
  font-family:'San Fransisco', sans-serif;
  font-size: 60px;
  color:#d95f76;
}
.main-text{
  font-family:'San Fransisco', sans-serif;
  font-size: 50px;
  color:#d95f76;
}

/* PROJECT BUTTON */
.projects-btn {
  margin-top: 30px;
  padding: 15px 30px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(45deg, #f1b6fd, #d95f76);
  color: white;
  font-size: 20px;
  cursor: pointer;
}
 /*PROFILE STUFF*/
 /* IMAGE SIDE */
.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
     border: 5px solid #d95f76;
}
* HERO SECTION */
.main_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

/* TEXT SIDE */
.main_text {
    max-width: 50%;
}

.main_text {
    font-size: 40px;
    margin: 10px 0;
}

.about {
    background-color: #d95f76;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 10px;
}
